In [31]:
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv("/Users/hrishikeshhpillai/Documents/hrishi/gridai/forecasting/datasets/SolarPrediction2.csv", parse_dates=['datetime'], index_col = ['datetime'])
df

,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
datetime,,,,,,
2016-09-29 23:55:26,1.21,48,30.46,59,177.39,5.62
2016-09-29 23:50:23,1.21,48,30.46,58,176.78,3.37
2016-09-29 23:45:26,1.23,48,30.46,57,158.75,3.37
2016-09-29 23:40:21,1.21,48,30.46,60,137.71,3.37
2016-09-29 23:35:24,1.17,48,30.46,62,104.95,5.62
...,...,...,...,...,...,...
2016-12-01 00:20:04,1.22,44,30.43,102,145.42,6.75
2016-12-01 00:15:01,1.17,44,30.42,102,117.78,6.75
2016-12-01 00:10:01,1.20,44,30.42,102,145.19,9.00
2016-12-01 00:05:02,1.23,44,30.42,101,164.19,7.87
2016-12-01 00:00:02,1.20,44,30.43,101,83.59,3.37

In [33]:
X = df[["Temperature", "Pressure", "Humidity", "WindDirection(Degrees)", "Speed"]]
X = X.sort_values(by="datetime", ascending=True)
X

,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
datetime,,,,,
2016-09-01 00:00:08,51,30.43,103,77.27,11.25
2016-09-01 00:05:10,51,30.43,103,153.44,9.00
2016-09-01 00:20:06,51,30.43,103,142.04,7.87
2016-09-01 00:25:05,51,30.43,103,144.12,18.00
2016-09-01 00:30:09,51,30.43,103,67.42,11.25
...,...,...,...,...,...
2016-12-31 23:35:02,41,30.34,83,238.94,6.75
2016-12-31 23:40:01,41,30.34,82,236.79,5.62
2016-12-31 23:45:04,42,30.34,81,218.28,7.87
2016-12-31 23:50:03,41,30.34,80,215.23,7.87
2016-12-31 23:55:01,41,30.34,81,215.56,9.00

In [34]:
y = df[["Radiation"]]
y = y.sort_values(by="datetime", ascending=True)
y

                     Radiation
datetime
2016-09-01 00:00:08       2.58
2016-09-01 00:05:10       2.83
2016-09-01 00:20:06       2.16
2016-09-01 00:25:05       2.21
2016-09-01 00:30:09       2.25
...                        ...
2016-12-31 23:35:02       1.22
2016-12-31 23:40:01       1.21
2016-12-31 23:45:04       1.21
2016-12-31 23:50:03       1.19
2016-12-31 23:55:01       1.21

[32686 rows x 1 columns]

In [35]:
X_np = df[["Radiation","Temperature", "Pressure", "Humidity", "WindDirection(Degrees)", "Speed"]].to_numpy()

In [36]:
X_np

array([[  1.21,  48.  ,  30.46,  59.  , 177.39,   5.62],
       [  1.21,  48.  ,  30.46,  58.  , 176.78,   3.37],
       [  1.23,  48.  ,  30.46,  57.  , 158.75,   3.37],
       ...,
       [  1.2 ,  44.  ,  30.42, 102.  , 145.19,   9.  ],
       [  1.23,  44.  ,  30.42, 101.  , 164.19,   7.87],
       [  1.2 ,  44.  ,  30.43, 101.  ,  83.59,   3.37]])

In [37]:
X_np.shape

(32686, 6)

In [38]:
test_arr = []

for i in range(0, len(X_np)):
    test_arr.append(X_np[0:38])

In [39]:
test_arr = np.array(test_arr)

In [40]:
test_arr.shape

(32686, 38, 6)

In [42]:
test_arr[0]

array([[  1.21,  48.  ,  30.46,  59.  , 177.39,   5.62],
       [  1.21,  48.  ,  30.46,  58.  , 176.78,   3.37],
       [  1.23,  48.  ,  30.46,  57.  , 158.75,   3.37],
       [  1.21,  48.  ,  30.46,  60.  , 137.71,   3.37],
       [  1.17,  48.  ,  30.46,  62.  , 104.95,   5.62],
       [  1.21,  48.  ,  30.46,  64.  , 120.2 ,   5.62],
       [  1.2 ,  49.  ,  30.46,  72.  , 112.45,   6.75],
       [  1.24,  49.  ,  30.46,  71.  , 122.97,   5.62],
       [  1.23,  49.  ,  30.46,  80.  , 101.18,   4.5 ],
       [  1.21,  49.  ,  30.46,  85.  , 141.87,   4.5 ],
       [  1.23,  49.  ,  30.47,  93.  , 120.55,   2.25],
       [  1.21,  49.  ,  30.47,  98.  , 144.19,   3.37],
       [  1.22,  49.  ,  30.47,  99.  , 139.8 ,   6.75],
       [  1.21,  50.  ,  30.47,  99.  , 140.92,   2.25],
       [  1.23,  50.  ,  30.47,  99.  , 147.61,   5.62],
       [  1.22,  50.  ,  30.47,  99.  , 113.78,   4.5 ],
       [  1.21,  50.  ,  30.47,  99.  , 123.03,  10.12],
       [  1.22,  50.  ,  30.47,  99.  , 173.73,   6.75],
       [  1.22,  50.  ,  30.47,  98.  ,  91.43,   6.75],
       [  1.2 ,  50.  ,  30.47,  98.  , 109.74,   6.75],
       [  1.2 ,  50.  ,  30.47,  98.  , 143.53,   2.25],
       [  1.2 ,  50.  ,  30.47,  97.  , 146.76,   5.62],
       [  1.21,  50.  ,  30.47,  97.  , 158.35,   4.5 ],
       [  1.22,  50.  ,  30.47,  97.  , 166.05,   5.62],
       [  1.22,  50.  ,  30.47,  96.  , 151.82,   5.62],
       [  1.22,  50.  ,  30.47,  96.  , 152.52,   6.75],
       [  1.24,  50.  ,  30.47,  95.  , 127.82,   7.87],
       [  1.23,  50.  ,  30.47,  95.  , 157.58,   6.75],
       [  1.23,  50.  ,  30.47,  95.  , 172.96,   7.87],
       [  1.23,  50.  ,  30.47,  95.  , 143.82,   6.75],
       [  1.24,  50.  ,  30.47,  94.  , 154.03,   5.62],
       [  1.2 ,  50.  ,  30.47,  93.  , 165.93,   4.5 ],
       [  1.24,  50.  ,  30.47,  93.  , 139.82,   7.87],
       [  1.21,  49.  ,  30.47,  93.  , 166.07,   9.  ],
       [  1.24,  50.  ,  30.47,  93.  , 116.16,   5.62],
       [  1.2 ,  50.  ,  30.47,  92.  , 157.48,   4.5 ],
       [  1.19,  50.  ,  30.47,  91.  , 112.27,   7.87],
       [  1.25,  50.  ,  30.47,  90.  , 133.69,   6.75]])

In [2]:
import pandas as pd

df = pd.read_csv('/home/navneeth/Egopro/dnn/gridai/forecasting/datasets/complete_dataset.csv')

In [3]:
df

,date,demand,RRP,demand_pos_RRP,RRP_positive,demand_neg_RRP,RRP_negative,frac_at_neg_RRP,min_temperature,max_temperature,solar_exposure,rainfall,school_day,holiday
0,2015-01-01,99635.030,25.633696,97319.240,26.415953,2315.790,-7.240000,0.020833,13.3,26.9,23.6,0.0,N,Y
1,2015-01-02,129606.010,33.138988,121082.015,38.837661,8523.995,-47.809777,0.062500,15.4,38.8,26.8,0.0,N,N
2,2015-01-03,142300.540,34.564855,142300.540,34.564855,0.000,0.000000,0.000000,20.0,38.2,26.5,0.0,N,N
3,2015-01-04,104330.715,25.005560,104330.715,25.005560,0.000,0.000000,0.000000,16.3,21.4,25.2,4.2,N,N
4,2015-01-05,118132.200,26.724176,118132.200,26.724176,0.000,0.000000,0.000000,15.0,22.0,30.7,0.0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2101,2020-10-02,99585.835,-6.076028,41988.240,26.980251,57597.595,-30.173823,0.625000,12.8,26.0,22.0,0.0,N,N
2102,2020-10-03,92277.025,-1.983471,44133.510,32.438156,48143.515,-33.538025,0.583333,17.4,29.4,19.8,0.0,N,N
2103,2020-10-04,94081.565,25.008614,88580.995,26.571687,5500.570,-0.163066,0.062500,13.5,29.5,8.4,0.0,N,N
2104,2020-10-05,113610.030,36.764701,106587.375,39.616015,7022.655,-6.511550,0.083333,9.1,12.7,7.3,12.8,N,N
2105,2020-10-06,122607.560,75.771059,122607.560,75.771059,0.000,0.000000,0.000000,8.9,12.6,5.8,1.0,N,N