In [31]:
import numpy as np
import pandas as pd

In [32]:
df = pd.read_csv("/Users/hrishikeshhpillai/Documents/hrishi/gridai/forecasting/datasets/SolarPrediction2.csv", parse_dates=['datetime'], index_col = ['datetime'])
df

,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
datetime,,,,,,
2016-09-29 23:55:26,1.21,48,30.46,59,177.39,5.62
2016-09-29 23:50:23,1.21,48,30.46,58,176.78,3.37
2016-09-29 23:45:26,1.23,48,30.46,57,158.75,3.37
2016-09-29 23:40:21,1.21,48,30.46,60,137.71,3.37
2016-09-29 23:35:24,1.17,48,30.46,62,104.95,5.62
...,...,...,...,...,...,...
2016-12-01 00:20:04,1.22,44,30.43,102,145.42,6.75
2016-12-01 00:15:01,1.17,44,30.42,102,117.78,6.75
2016-12-01 00:10:01,1.20,44,30.42,102,145.19,9.00
2016-12-01 00:05:02,1.23,44,30.42,101,164.19,7.87
2016-12-01 00:00:02,1.20,44,30.43,101,83.59,3.37

In [33]:
X = df[["Temperature", "Pressure", "Humidity", "WindDirection(Degrees)", "Speed"]]
X = X.sort_values(by="datetime", ascending=True)
X

,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
datetime,,,,,
2016-09-01 00:00:08,51,30.43,103,77.27,11.25
2016-09-01 00:05:10,51,30.43,103,153.44,9.00
2016-09-01 00:20:06,51,30.43,103,142.04,7.87
2016-09-01 00:25:05,51,30.43,103,144.12,18.00
2016-09-01 00:30:09,51,30.43,103,67.42,11.25
...,...,...,...,...,...
2016-12-31 23:35:02,41,30.34,83,238.94,6.75
2016-12-31 23:40:01,41,30.34,82,236.79,5.62
2016-12-31 23:45:04,42,30.34,81,218.28,7.87
2016-12-31 23:50:03,41,30.34,80,215.23,7.87
2016-12-31 23:55:01,41,30.34,81,215.56,9.00

In [34]:
y = df[["Radiation"]]
y = y.sort_values(by="datetime", ascending=True)
y

                     Radiation
datetime
2016-09-01 00:00:08       2.58
2016-09-01 00:05:10       2.83
2016-09-01 00:20:06       2.16
2016-09-01 00:25:05       2.21
2016-09-01 00:30:09       2.25
...                        ...
2016-12-31 23:35:02       1.22
2016-12-31 23:40:01       1.21
2016-12-31 23:45:04       1.21
2016-12-31 23:50:03       1.19
2016-12-31 23:55:01       1.21

[32686 rows x 1 columns]

In [35]:
X_np = df[["Radiation","Temperature", "Pressure", "Humidity", "WindDirection(Degrees)", "Speed"]].to_numpy()

In [36]:
X_np

array([[  1.21,  48.  ,  30.46,  59.  , 177.39,   5.62],
       [  1.21,  48.  ,  30.46,  58.  , 176.78,   3.37],
       [  1.23,  48.  ,  30.46,  57.  , 158.75,   3.37],
       ...,
       [  1.2 ,  44.  ,  30.42, 102.  , 145.19,   9.  ],
       [  1.23,  44.  ,  30.42, 101.  , 164.19,   7.87],
       [  1.2 ,  44.  ,  30.43, 101.  ,  83.59,   3.37]])

In [37]:
X_np.shape

(32686, 6)

In [38]:
test_arr = []

for i in range(0, len(X_np)):
    test_arr.append(X_np[0:38])

In [39]:
test_arr = np.array(test_arr)

In [40]:
test_arr.shape

(32686, 38, 6)

In [42]:
test_arr[0]

array([[  1.21,  48.  ,  30.46,  59.  , 177.39,   5.62],
       [  1.21,  48.  ,  30.46,  58.  , 176.78,   3.37],
       [  1.23,  48.  ,  30.46,  57.  , 158.75,   3.37],
       [  1.21,  48.  ,  30.46,  60.  , 137.71,   3.37],
       [  1.17,  48.  ,  30.46,  62.  , 104.95,   5.62],
       [  1.21,  48.  ,  30.46,  64.  , 120.2 ,   5.62],
       [  1.2 ,  49.  ,  30.46,  72.  , 112.45,   6.75],
       [  1.24,  49.  ,  30.46,  71.  , 122.97,   5.62],
       [  1.23,  49.  ,  30.46,  80.  , 101.18,   4.5 ],
       [  1.21,  49.  ,  30.46,  85.  , 141.87,   4.5 ],
       [  1.23,  49.  ,  30.47,  93.  , 120.55,   2.25],
       [  1.21,  49.  ,  30.47,  98.  , 144.19,   3.37],
       [  1.22,  49.  ,  30.47,  99.  , 139.8 ,   6.75],
       [  1.21,  50.  ,  30.47,  99.  , 140.92,   2.25],
       [  1.23,  50.  ,  30.47,  99.  , 147.61,   5.62],
       [  1.22,  50.  ,  30.47,  99.  , 113.78,   4.5 ],
       [  1.21,  50.  ,  30.47,  99.  , 123.03,  10.12],
       [  1.22,  50.  ,  30.47,  99.  , 173.73,   6.75],
       [  1.22,  50.  ,  30.47,  98.  ,  91.43,   6.75],
       [  1.2 ,  50.  ,  30.47,  98.  , 109.74,   6.75],
       [  1.2 ,  50.  ,  30.47,  98.  , 143.53,   2.25],
       [  1.2 ,  50.  ,  30.47,  97.  , 146.76,   5.62],
       [  1.21,  50.  ,  30.47,  97.  , 158.35,   4.5 ],
       [  1.22,  50.  ,  30.47,  97.  , 166.05,   5.62],
       [  1.22,  50.  ,  30.47,  96.  , 151.82,   5.62],
       [  1.22,  50.  ,  30.47,  96.  , 152.52,   6.75],
       [  1.24,  50.  ,  30.47,  95.  , 127.82,   7.87],
       [  1.23,  50.  ,  30.47,  95.  , 157.58,   6.75],
       [  1.23,  50.  ,  30.47,  95.  , 172.96,   7.87],
       [  1.23,  50.  ,  30.47,  95.  , 143.82,   6.75],
       [  1.24,  50.  ,  30.47,  94.  , 154.03,   5.62],
       [  1.2 ,  50.  ,  30.47,  93.  , 165.93,   4.5 ],
       [  1.24,  50.  ,  30.47,  93.  , 139.82,   7.87],
       [  1.21,  49.  ,  30.47,  93.  , 166.07,   9.  ],
       [  1.24,  50.  ,  30.47,  93.  , 116.16,   5.62],
       [  1.2 ,  50.  ,  30.47,  92.  , 157.48,   4.5 ],
       [  1.19,  50.  ,  30.47,  91.  , 112.27,   7.87],
       [  1.25,  50.  ,  30.47,  90.  , 133.69,   6.75]])